<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>写真管理システム</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <p th:text="${msg}"></p>
        <form action="#">
            <table>
                <tr th:each="photo : ${photoForm.photoInDetailForms}"
                        style="cursor: pointer" th:onclick="'jumpToPhoto(' + ${photo.id} + ')'">
                    <td>
                        <img th:src="'data:image/' + ${photo.extension} + ';base64,' + ${photo.thumbnail}"/>
                    </td>
                    <td>
                        <p th:text="${photo.fileName}"></p>
                    </td>
                </tr>
            </table>
        </form>

        <form action="#" th:action="@{/add-photo}" th:object="${photoForm}" method="post" enctype="multipart/form-data">
            <p>アップロードする写真を選択： <input type="file" th:field="*{sendingPhoto}" /></p>
            <p><input type="submit" value="アップロード" /></p>
        </form>
        <script type="text/javascript">
            function jumpToPhoto(id = 0) {
                location.href = "/photo/" + id;
            }
        </script>
    </body>
</html>
