<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.yoshida.photoadmin.mapper.PhotosMapper">
    <select id="getPhotos" resultType="jp.yoshida.photoadmin.dto.PhotoDto">
        SELECT
            id AS id,
            thumbnail AS thumbnail,
            file_name AS fileName,
            extension AS extension,
            width AS width,
            height AS height,
            shooting_date_time AS shootingDateTime,
            TRIM(CONCAT(latitude, ' ', latitude_ref)) AS latitude,
            TRIM(CONCAT(longitude, ' ', longitude_ref)) AS longitude
        FROM
            photos
        ORDER BY
            file_name,
            id
    </select>

    <select id="getPhotoIds" resultType="Integer">
        SELECT
            id AS id
        FROM
            photos
        ORDER BY
            file_name,
            id
    </select>

    <select id="getPhoto" resultType="jp.yoshida.photoadmin.dto.PhotoDto">
        SELECT
            id AS id,
            raw_photo AS rawPhoto,
            file_name AS fileName,
            extension AS extension,
            width AS width,
            height AS height,
            shooting_date_time AS shootingDateTime,
            TRIM(CONCAT(latitude, ' ', latitude_ref)) AS latitude,
            TRIM(CONCAT(longitude, ' ', longitude_ref)) AS longitude
        FROM
            photos
        WHERE
            id = #{id}
        ORDER BY
            file_name,
            id
    </select>

    <insert id="addPhoto" parameterType="jp.yoshida.photoadmin.dto.PhotoDto">
        INSERT INTO photos (
            raw_photo,
            thumbnail,
            file_name,
            extension,
            width,
            height,
            shooting_date_time,
            latitude,
            latitude_ref,
            longitude,
            longitude_ref
        ) VALUES (
            #{rawPhoto},
            #{thumbnail},
            #{fileName},
            #{extension},
            #{width, jdbcType=VARCHAR},
            #{height, jdbcType=VARCHAR},
            #{shootingDateTime, jdbcType=TIMESTAMP},
            #{latitude, jdbcType=VARCHAR},
            #{latitudeRef, jdbcType=VARCHAR},
            #{longitude, jdbcType=VARCHAR},
            #{longitudeRef, jdbcType=VARCHAR}
        )
    </insert>
</mapper>
