<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="#{HTML_LANG}">
    <head>
        <title th:text="#{TEXT_SYSTEM_NAME}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link th:href="@{/css/photo.css}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1 th:text="#{TEXT_SYSTEM_NAME}"></h1>
        <h2 th:text="#{TEXT_PAGE_NAME_PHOTO}"></h2>
        <form action="#" th:action="@{/delete-photo/{id} (id = *{id})}" th:object="${photoForm}" method="post">
            <a th:if="*{prevId} != null" th:href="@{/photo/{id} (id = *{prevId})}" th:text="#{TEXT_PREV_PHOTO}"></a>
            <span th:unless="*{prevId} != null" th:text="#{TEXT_PREV_PHOTO}"></span>&nbsp;/&nbsp;
            <a th:if="*{nextId} != null" th:href="@{/photo/{id} (id = *{nextId})}" th:text="#{TEXT_NEXT_PHOTO}"></a>
            <span th:unless="*{nextId} != null" th:text="#{TEXT_NEXT_PHOTO}"></span>&nbsp;&nbsp;
            <a th:href="|data:*{mimeType};base64,*{rawPhoto}|" th:download="*{fileName}"
               th:text="#{TEXT_DOWNLOAD_THIS_PHOTO}"></a>&nbsp;&nbsp;
            <input type="submit" th:value="#{TEXT_DELETE_THIS_PHOTO}" onclick="return PhotoJs.preDeleteCheck()">
        </form>
        <p><a th:href="@{/photos}" th:text="#{TEXT_BACK_TO_PHOTOS_LIST}"></a></p>
        <hr>
        <form action="#" th:object="${photoForm}">
            <table class="p-a-details-table">
                <tr>
                    <th th:text="#{TEXT_FILE_NAME}"></th>
                    <td th:text="*{fileName}"></td>
                </tr>
                <tr>
                    <th th:text="#{TEXT_WIDTH}"></th>
                    <td th:text="*{width}"></td>
                </tr>
                <tr>
                    <th th:text="#{TEXT_HEIGHT}"></th>
                    <td th:text="*{height}"></td>
                </tr>
                <tr>
                    <th th:text="#{TEXT_SHOOTING_DATE_TIME}"></th>
                    <td th:text="*{shootingDateTime}"></td>
                </tr>
                <tr>
                    <th th:text="#{TEXT_LATITUDE}"></th>
                    <td th:text="*{latitude}"></td>
                </tr>
                <tr>
                    <th th:text="#{TEXT_LONGITUDE}"></th>
                    <td th:text="*{longitude}"></td>
                </tr>
            </table>
            <hr>
            <p>
                <img th:src="|data:*{mimeType};base64,*{rawPhoto}|">
            </p>
        </form>
        <hr>
        <form action="#" th:action="@{/delete-photo/{id} (id = *{id})}" th:object="${photoForm}" method="post">
            <a th:if="*{prevId} != null" th:href="@{/photo/{id} (id = *{prevId})}" th:text="#{TEXT_PREV_PHOTO}"></a>
            <span th:unless="*{prevId} != null" th:text="#{TEXT_PREV_PHOTO}"></span>&nbsp;/&nbsp;
            <a th:if="*{nextId} != null" th:href="@{/photo/{id} (id = *{nextId})}" th:text="#{TEXT_NEXT_PHOTO}"></a>
            <span th:unless="*{nextId} != null" th:text="#{TEXT_NEXT_PHOTO}"></span>&nbsp;&nbsp;
            <a th:href="|data:*{mimeType};base64,*{rawPhoto}|" th:download="*{fileName}"
               th:text="#{TEXT_DOWNLOAD_THIS_PHOTO}"></a>&nbsp;&nbsp;
            <input type="submit" th:value="#{TEXT_DELETE_THIS_PHOTO}" onclick="return PhotoJs.preDeleteCheck()">
        </form>
        <p><a th:href="@{/photos}" th:text="#{TEXT_BACK_TO_PHOTOS_LIST}"></a></p>
        <hr>
        <script th:inline="javascript" type="text/javascript">
            /*<[!CDATA[*/
            var JS_CONFIRM_DELETE_THIS_PHOTO = /*[[#{JS_CONFIRM_DELETE_THIS_PHOTO}]]*/ "";
            /*]]>*/
        </script>
        <script th:src="@{/js/photo.js}" type="text/javascript"></script>
    </body>
</html>
