<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="#{HTML_LANG}">
    <head>
        <title th:text="#{TEXT_SYSTEM_NAME}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1 th:text="#{TEXT_SYSTEM_NAME}"></h1>
        <h2 th:text="#{TEXT_PAGE_NAME_ERROR}"></h2>
        <p th:text="#{TEXT_THE_PAGE_WAS_NOT_FOUND}"></p>
        <p><a th:href="@{/photos}" th:text="#{TEXT_BACK_TO_PHOTOS_LIST}"></a></p>
    </body>
</html>
