        .p-a-summary-table {
            border-collapse: collapse;
        }

        .p-a-summary-table td {
            border: 1px solid #000000;
        }

        .p-a-summary-table td.p-a-bottom, .p-a-bottom {
            border-bottom: 3px solid #000000;
        }

        .p-a-summary-table img {
            width: 180px;
            height: 100px;
            object-fit: cover;
            cursor: pointer;
        }

        .p-a-info {
            border-style: solid;
            border-width: 5px;
            padding: 5px;
        }

        .p-a-info-level-info {
            color: #009900;
            border-color: #009900;

        }

        .p-a-info-level-warn {
            color: #999900;
            border-color: #999900;
        }

        .p-a-info-level-error {
            color: #ff0000;
            border-color: #ff0000;
        }
